<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo das Letras Acessível</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Livros</a></li>
            <li><a href="{{ url_for('about') }}">Sobre Nós</a></li>
            <li><a href="{{ url_for('contact') }}">Contato</a></li>
        </ul>
    </nav>

    <header>
        <div class="center">
            <img src="{{ url_for('static', filename='img/telefone.jpg') }}" alt="Telefone">
        </div>
        <h1>Mundo das Letras Acessível</h1>
        <h2>Contato</h2>
    </header>

    <main>
        <section>
            <h3>Celular: 32 95468-7235 / 11 96525-8654</h3>
        </section>
        <section>
            <h3>Telefone: 3225-8756</h3>
        </section>
        <section>
            <h3>Email: mundodasletrasacessivel@gmail.com</h3>
        </section>
    </main>
</body>
</html>
